  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <link rel="stylesheet" href="public/css/style.css" type="text/css">
    <meta charset="utf-8">
  <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ELMAWQE3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/css/style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ab8900e115.js" crossorigin="anonymous"></script>
    <title>first page</title>

    <script>
if(localStorage.getItem('@Color'))
document.body.style.color=localStorage.getItem('@Color');

if(localStorage.getItem('@bgColor'))
document.body.style.background=localStorage.getItem('@bgColor');

if(localStorage.getItem('@font'))
document.body.style.fontFamily=localStorage.getItem('@font');

    </script>
  </head>
  <body>

  <header th:insert='navbar.html'></header>


    <div class="container">
        <div class="about-me1">
            <span class="user-name1">Ahmed Mubarak</span>
            <img class = "profile-pic1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" alt="">
            <p class = "description" >CEO & CTO at Google <br> <span class="description-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</span></p>
        </div>
        <div class="about-me2">
            <span class="user-name2">Omar Maher</span>
            <img class = "profile-pic2" src="public/imgs/ted.JFIF" alt="">
            <p class = "description" >Pedophile & Homophobe<br> <span class="description-p">The industrial revolution and its consequences have been a disaster for the human race..</span></p>
        </div>
        <div class="about-me1">
            <span class="user-name1">Mohamed Ahmed</span>
            <img class = "profile-pic1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" alt="">
            <p class = "description" >CEO & CTO at Google <br> <span class="description-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</span></p>

        </div>￼

        <div class="about-me2">
            <span class="user-name2">Ahmed Magdy</span>
            <img class = "profile-pic2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" alt="">
            <p class = "description" >Baccano!!! <br> <span class="description-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</span></p>

        </div>
        <div class="about-me1">
            <span class="user-name1" >Omar Faris</span>
            <img class = "profile-pic1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" alt="">
            <p class = "description" >CEO & CTO at Google <br> <span class="description-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</span></p>

        </div>
        <div class="about-me2">
            <span class="user-name2">Ibrahim Ebeid</span>
            <img class = "profile-pic2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" alt="">
            <p class = "description" >CEO & CTO at Google <br> <span class="description-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</span></p>
        </div>

<div class="about-me1">
            <span class="user-name2">Ahmed Sweilam</span>
            <img class = "profile-pic2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" alt="">
            <p class = "description" >CEO & CTO at Google <br> <span class="description-p">Lorem ipsum dolor sit amet, consectetur adipisicing.</span></p>

        </div>
    </div>
  </body>