<!DOCTYPE html>
<html>
<head>
	<title>Chat Page</title>
	<link rel="stylesheet" type="text/css" href="/public/css/distyle.css">
</head>
<body>
	<header>
	 <header th:insert='navbar.html'></header>
		<h1>Chat Page</h1>
	</header>
	<main>
		<div class="chat-window">
			<ul th:each='comment:${board}'>
			<li class="message" th:text=${comment.getAuthor().say(comment.getContent())}>: Hey there!</li>
			</ul>
		</div>
		<form class="message-form" method ='post' action = 'comment'>
			<input type="text" placeholder="Type your message here..." name = 'msg'>
			<button type="submit">Send</button>
		</form>
	</main>
</body>
</html>