<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ELMAWQE3</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/style2.css">
        <link rel="stylesheet" type="text/css" href="/public/css/navStyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ab8900e115.js" crossorigin="anonymous"></script>
 </head>

    <body>

       
        <header th:insert='navbar.html'></header>
        
        
        <section class = "banner" id='news'>
            <div class = "banner-main-content">
                <h2>GET THE WORLD'S LATEST NEWS</h2>
                <h3>YOU CAN ALSO JION OUR COMMUNITY.<BR>
                We are happy to hear Your thoughts.</h3>

                <button>
                    <a href = "discussion">Join Discussion Now</a>
                </button>

                
            </div>

            <div class = "banner-sub-content" >
                <div class = "hot-topic" th:each="event:${news}">
                    <img th:src=${event.pPath} alt = "">

                    <div class = "hot-topic-content">
                        <h2><br th:text=${event.details}></h2>

                        <h3 th:text=${event.headline}></h3>
                        <p th:text=${event.getSig}> </p>
                        
                    </div>
                </div>
            </div>
        </section>
    </body>
        </html>