<!DOCTYPE html>
<html>
<head>
	<title>Login | Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/css/login.css">
	<link rel="stylesheet" href="/public/css/navStyle.css">
</head>
<body>
<header th:insert='navbar.html'></header>
	<div class="container">
		<div class="login-form">
			<h2>Login</h2>
			<form action="/login" method="post">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" required>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required>
				<button type="submit">Login</button>
			</form>
		</div>
		<div class="signup-form">
			<h2>Sign Up</h2>
			<form action="/signup" method="post">
				<label for="username">Username</label>
				<input type="text" id="username" name="username" required>
				<label for="email">Email</label>
				<input type="email" id="email" name="email" required>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required>
				<label for="confirm-password">Confirm Password</label>
				<input type="password" id="confirm-password" name="confirm-password" required>
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</div>
</body>
<script>
if(localStorage.getItem('@Color'))
document.body.style.color=localStorage.getItem('@Color');

if(localStorage.getItem('@bgColor'))
document.body.style.background=localStorage.getItem('@bgColor');

if(localStorage.getItem('@font'))
document.body.style.fontFamily=localStorage.getItem('@font');
</script>
</html>