.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar-brand {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #111;
}